:root {
  --bkg: #5A5A5A;
  --font-color: white;
  --header-anchor-color: white;
  --anchor-hover-color: #90EE90;
  --wiki-bkg-color-hover: #52956B;
}

body {
    margin: 2em auto;
    background-color: var(--bkg);
    width: 70%;
}

p, a, ul li, ol li {
    font-family: 'Helvetica', Verdana;
    font-size: 1.1em;
    line-height: 1.75em;
    color: var(--font-color);
}

p a, ul li a {
    text-decoration: none;
    font-size: 1em;
    border-bottom: 3px solid var(--anchor-hover-color);
}

h2 a, h3 a, h4 a {
    text-decoration: none;
}

h1, h1 a, h2, h3, h2 a, h3 a, h4, h4 a {
    font-family: 'Lato','Georgia','Helvetica', 'Verdana';
    line-height: 1.5em;
    font-weight: bold;
    color: var(--header-anchor-color);
}

h1,
h1 a {
    font-size: 2.2em;
    text-align: left;
    line-height: 1.4em;
}

h2, h2 a {
    font-size: 1.4em;
}

footer {
    border-top: 1px solid var(--header-anchor-color);
    font-size: .8em;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
}

footer ul li {margin-right: 1em;}

footer a {
    text-decoration: none;
    border-bottom: none;
    color: var(--header-anchor-color);
}

nav ul li a, footer ul li a {border-bottom: none;}

nav ul li a:hover, footer ul li a:hover {
    border-bottom: none;
    text-decoration: underline;
}

nav {float: right;}

nav a {
    padding: 0.8em;
    border-radius: 5%;
    background-color: var(--header-anchor-color);
    color: var(--bkg);
    text-decoration: none;
    border-bottom: none;
}

strong { font-weight: bolder;}

.footer-img {
    height: 1em;
    width: 1em;
    display: inline;
}

.head-banner {
    padding-left: .5em;
    padding-bottom: .1em;
    display: block;
    border-bottom: 2px dashed var(--header-anchor-color);
}

.head-banner p {
    float: left;
    color: var(--font-color);
    padding: 0em;
    margin: 0em;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Luminari';
    font-weight: bold;
}

@media only screen and (max-width: 34em) {
    nav, .head-banner p {float: none; text-align: center;}
    nav ul li {display:inline-block; margin-bottom:0.8em; width: 45%;
    background-color: var(--header-anchor-color);
    padding: .2em; border-radius: 5%;}
    nav ul {width: 100%;}
    nav a {padding: 0;}
    .head-banner p {font-size: 1.5em;}
    .head-banner {text-align: center;}
    /* the "profile picture" of the wiki page */
    img[alt=main] {
        display: block;
        width: 30em;
        float: none;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.meta {font-style:italic; text-align: center;}

blockquote {
  width:85%;
  margin:1em auto;
  font-family:'Open Sans';
  font-style:italic;

  font-size: 1.1em;
  line-height: 1.75em;
  color: var(--font-color);

  background:white;

  padding:1.2em 1.4em 1.2em 1.4em;
  border-left:1em solid var(--header-anchor-color) ;
  position: relative;
  
}

blockquote::after{
  content: '';
}

pre, code {background-color: #444; color: #fff; font-family: Verdana; padding: 10px; line-height: 1.75;}

.wiki-item {
  padding: .3em;
  display:inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.1em;
  margin:0.1875em;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--header-anchor-color);
  color: var(--bkg);
  border-radius: 4%;
  width:95%; 
  height:auto;
}

.slim {
    width:45%;
    height:4em;
}

.search-results ul li {margin-top: .9em;}
