:root {
  --bkg: #2b2b2b;
  --font-color: #ffffff;
  --underline-color: #79e5e5;
  --font-family: 'Lato',
    'Georgia',
    'Helvetica',
    'Verdana';
}

@font-face {
    font-family: 'Luminari';
    font-style: normal;
    font-weight: normal;
    src: local('Luminari'), url('fonts/Luminari-Regular.woff') format('woff');
}

#graem-wiki-name {
    font-family: Arial,
        Helvetica,
        sans-serif;
}

body {
    margin: 2em auto;
    background-color: var(--bkg);
    width: 70%;
}

p, a, ul li, ol li {
    font-family: var(--font-family);
    font-size: 1.1em;
    line-height: 1.75em;
    color: var(--font-color);
}

p a, ul li a {
    text-decoration: none;
    font-size: 1em;
    border-bottom: 2px solid var(--underline-color);
}

p a:hover, ul li a:hover {
    transition-duration: 0.2s;
    color: var(--underline-color);
}

h2 a, h3 a, h4 a {
    text-decoration: none;
}

h1, h1 a, h2, h3, h2 a, h3 a, h4, h4 a {
    font-family: var(--font-family);
    line-height: 1.5em;
    font-weight: bold;
    color: var(--font-color);
}

h1,
h1 a {
    font-size: 2.6em;
    text-align: left;
    line-height: 1.4em;
}

footer {
    border-top: 1px solid var(--font-color);
    font-size: .8em;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
}

footer ul li {margin-right: 1em;}

footer a {
    text-decoration: none;
    border-bottom: none;
    color: var(--font-color);
    opacity: 0.5;
}

footer a:hover {
    opacity: 1;
}

nav ul li a, footer ul li a {border-bottom: none;}

nav ul li a:hover, footer ul li a:hover {
    border-bottom: none;
    text-decoration: underline;
}

#graem-wiki-name:hover {
    border-bottom: none;
    text-decoration: underline;
}

nav {float: right;}

nav a {
    padding: 0.8em;
    border-radius: 5%;
    background-color: var(--font-color);
    color: var(--bkg);
    text-decoration: none;
    border-bottom: none;
}

strong { font-weight: bolder;}

.footer-img {
    height: 1em;
    width: 1em;
    display: inline;
}

.head-banner {
    padding-left: .5em;
    padding-bottom: .1em;
    display: block;
    border-bottom: 2px dashed var(--font-color);
}

.head-banner p {
    float: left;
    color: var(--font-color);
    padding: 0em;
    margin: 0em;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Luminari';
    font-weight: bold;
}

img {
    max-width: 32em;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display: block;
    text-align: center;
}

@media only screen and (max-width: 34em) {
    nav, .head-banner p {float: none; text-align: center;}
    nav ul li {display:inline-block; margin-bottom:0.8em; width: 45%;
    background-color: var(--font-color);
    padding: .2em; border-radius: 5%;}
    nav ul {width: 100%;}
    nav a {padding: 0;}
    .head-banner p {font-size: 1.5em;}
    .head-banner {text-align: center;}
    /* the "profile picture" of the wiki page */
    img[alt=main] {
        display: block;
        width: 30em;
        float: none;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.meta {font-style:italic; text-align: center; font-family: var(--font-family);}

blockquote {
  width:85%;
  margin:1em auto;
  font-family:'Open Sans';
  font-style:italic;

  font-size: 1.1em;
  line-height: 1.75em;
  color: var(--font-color);

  padding:1.2em 1.4em 1.2em 1.4em;
  border-left:1em solid var(--font-color) ;
  position: relative;
  
}

blockquote::after{
  content: '';
}

pre, code {background-color: #444; color: #fff; font-family: Verdana; padding: 10px; line-height: 1.75;}

.wiki-item {
  padding: .3em;
  display:inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.1em;
  margin:0.1875em;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--font-color);
  color: var(--bkg);
  border-radius: 4%;
  width:95%; 
  height:auto;
}

.slim {
    width:45%;
    height:4em;
}

.search-results ul li {margin-top: .9em;}

.review_bottom li {
    list-style: none;
}

.review_bottom li:after {
    content: "\A";
    white-space: pre;
}
