h1::after {
  display: block;
  content:' ';
  border: solid white;
}

h2::after, h3::after, h4::after {
    content: "#";
    position: relative;
    top: 0em;
    left: 0.5em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

h2::after {font-size: 1.4em;}
h3::after {font-size: 1.2em;}
h4::after {font-size: 1.0em;}

h2:hover::after, h3:hover::after, h4:hover::after {
  visibility: visible;
  opacity: 1;
}

div.backButton {
  position:fixed; 
  top:80%;
  right: 5%;
}

img[alt=main] { /* the "profile picture" of the wiki page */
  display: block;
  width: 300px;
  float:right;
  margin: 10px 10px 0px 10px;
}
