h2,
h2 a {
  font-size: 1.4em;
}

h3,
h3 a {
  font-size: 1.2em;
}

h4,
h4 a {
  font-size: 1.0em;
}

div.backButton {
  position:fixed; 
  top:80%;
  right: 5%;
}

img[alt=main] { /* the "profile picture" of the wiki page */
  display: block;
  width: 300px;
  float:right;
  margin: 10px 10px 0px 10px;
}
