---
layout: default
---

<div class="post">
  <h1 style="text-align:left;">{{ page.title }}</h1>    
  <p class="meta" style="text-align:left;">Last updated {{ page.date | date_to_string }} </p>
  {{ content | toc }}
</div>

<script>
const headings = document.querySelectorAll('h2[id],h3[id]');
for (var heading of headings) {
    heading.innerHTML = `<a href=#${heading.id}>${heading.innerHTML}</a>`;
}
var windowWidth = window.innerWidth;
var maxDeviceWidth = 768;
if (windowWidth < maxDeviceWidth) {
	document.getElementById('tweetThis').innerHTML=`[<i class="fab fa-twitter"></i>]`
  document.getElementById('tocButton').innerHTML=`[<i class="fa fa-map-signs" aria-hidden="true"></i>]`
	document.getElementById('backToWiki').innerHTML=`[<i class="fa fa-arrow-left"></i>]`
}


</script>


<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/post.css">
