---
layout: default
---

<div style="text-align:left">
  <h1>{{ page.title }}</h1>
  <p class="meta">Last updated {{ page.date | date_to_string }} </p>
</div>

{% if page.abstract.size > 0 %}
<p class="abstract"> {{ page.abstract }}</p>
<hr/>
{% endif %}

<div class="post">
  {{ content | toc }}
</div>

<script>
const headings = document.querySelectorAll('h2[id],h3[id]');
for (var heading of headings) {
    heading.innerHTML = `<a href=#${heading.id}>${heading.innerHTML}</a>`;
}
var windowWidth = window.innerWidth;
var maxDeviceWidth = 768;
if (windowWidth < maxDeviceWidth) {
	document.getElementById('tweetThis').innerHTML=`[<i class="fab fa-twitter"></i>]`
  document.getElementById('tocButton').innerHTML=`[<i class="fa fa-map-signs" aria-hidden="true"></i>]`
	document.getElementById('backToWiki').innerHTML=`[<i class="fa fa-arrow-left"></i>]`
}


</script>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@{{ page.twitter_username }}" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />
{% if page.twitter_image.size > 0 %}
<meta name="twitter:image:src" content="{{ page.twitter_image }}" />
{% else %}
<meta name="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}/resources/placeholder.png" />
{% endif %}

<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/post.css">
